.exam-task-table{
    & tr{
        cursor: pointer;
        & td{
            line-height: 1.2;
        }
        & th:not(.bg-success){
            border-right: 1px solid darken(white,10%);
        }
    }
    &.table-dark{
        & th{
            border-right: 1px solid lighten($dark,20%);
        }
    }
}
.bg-dark{
    &>.progress{
        background-color: lighten($dark,20%);
    }
}

.task-container{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .5s ease;
    &.active{
        opacity: 1;
        height: auto;
    }
}
